#top_top_block {
	position: absolute;
	z-index: 5;
	top: 0;
	height: 10vh;
	background-color: rgba(68, 68, 68, 40%);
}
#top_top_img {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	max-width: 15%;
}
#top_top_title {
	color: white;
	font-family: "WenQuanYi Micro Hei";
	font-size: 2em;
	position: absolute;
	left: 17%;
	margin: 0;
}
#top_block {
	height: 61.8vh;
	background-color: white; 
	overflow: hidden;
}
/*.top_pic{
	width: 100%;
	min-width: 100vh;
	min-height: 40vh;
	max-height: 50vh;
}*/
#choose_block {
	width: 85%;
	background-color: white; 
	margin: 10px 7.5% 20px 7.5%;
	padding-bottom: 2vh;
	background-color: #ebedf0;
}
#professional_team {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-image: url(../images/team_p.jpg);
}
#amateur_team {
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	background-image: url(../images/team_a.jpg);
}
#news_block {
	background-color: white; 
}
#news_block_background {
	margin: 20px 7.5% 10px 7.5%;
	padding-bottom: 2vh;
	padding-left: 7.5%;
	padding-right: 7.5%;
	background-color: #ebedf0;
}
.news_block_big {
	margin-bottom: 2vh;
}
.news_block_small {
	margin-bottom: 2vh;
}
#mid_block {
	height: 80vh;
	background-color: white; 
}
#mid_block_content {
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0 ,0, 50%);
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
  	align-items: center;
  	color: white;
}
.big_title {
	width: 100%;
	font-size: 3.5em;
	margin-bottom: 40px;
}
.big_content {
	margin: 10px;
	width: 100%;
	font-size: 6em;
}
.big_content img {
	width: 100px;
	height: 100px;
	margin-bottom: 30px;
}
.big_content p {
	font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
	margin-top: 0;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.borad_change {
	width: 35%;
	border-top: 4px solid white;
	padding-bottom: 20px;
	transition: all 1.5s ease;
}
.borad_change:hover {
	width: 80%;
}
#time_block {
	height: 60vh;
	width: 85%;
	margin: 20px 7.5%;
	padding-bottom: 2vh;
	padding-left: 0;
	padding-right: 0;
	background-color: #ebedf0;
}
#show_block {
	height: 80vh;
	width: 85%;
	background-color: white; 
	padding-bottom: 4vh;
	margin: 10px 7.5% 30px 7.5%;
	background-color: #ebedf0;
}
